<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

<p>
    Splurty was built by <a target="_blank" href="https://github.com/Ddavis17/bootcamp">Dustin Davis</a> .
  </p>
  <br />
  <p>
    He is a beginner web developer that is currently in school learning code. Click <a target='_blank' href=="https://online.bootcampspot.com" >here</a> for more info on his school.
  <p>
      He is very excited about this page so please, just tell him its cool.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'about_pic.JPG', class: 'img-fluid' %>
    </div>
     <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Dustin Davis</h2>
      <br />
      <p>
        Dustin has been in and out of jobs he hasn't liked ranging from retail to factory. He didn't have the time and money to go to school until he found the online bootcamp. This is the first thing he's built but it won't be the last.
      </p>
    </div>
  </div>
  

</div>

<br class="clear" />
<br />
<br />
<br />
<br />